.flex {
  display: flex;
}

.w-50 {
  width: 50%;
}

.element {
  padding: 3px;
  margin: 3px;
}

.element.blue { border: 2px solid blue; }
.element.red { border: 2px solid red; }
.element.green { border: 2px solid green; }
.element.black { border: 2px solid black; }

.ml-30 {
  margin-left: 30px;
}